{
    "env": {
        "es6": true,
        "browser": true,
        "commonjs" : true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "extends": ["eslint:recommended"],

}